.chats-list-card {
  padding: 12px;
  margin-top: 1rem;
  background-color: #f5f5f5;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.joined-text {
  color: #1e40af;
  font-style: italic;
  margin-left: 0.9rem;
}

.indiv-chat-name {
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 0.9rem;
}

.join-group-button {
  display: block;
  background-color: #1e40af;
  color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: auto;
}

.join-group-button:hover {
  background: #092140;
  transform: scale(1.05);
}

.join-group-button:active {
  background-color: #1e40af;
  transform: scale(1.05);
}
